
#size-cover{
    width: 80px;
}
#text-sm:hover{
    color:#0D6EFD;
}

#text-sm{
    font-size:12px;
}
@media (max-width:767px){
    #size-cover{
        
        width: 60px;
    }
    #text-sm{
        font-size:xx-small;
    }
}
